<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
    <parameter name="realName"  value="test1"/>
    <parameter name="userName"  value="test1"/>
    <parameter name="roleName"  value="roleName"/>
    <parameter name="deptName"  value="testDept"/>
    <parameter name="parentName"  value="testSpon"/>
    <listeners>
        <listener class-name="test.java.com.test.testSuite.MyRetryListener"/>
    </listeners>
<test verbose="2" preserve-order="true" name="Test JZDT">
 <classes>
<class name="com.test.testSuite.Login" >
     <methods>
         <include name ="logPass"/>
         <include name ="afterMethod"/>
     </methods>
</class>
     <class name="com.test.testSuite.TestCases">
         <methods>
             <include name = "testInputRoadNameAndLocate"/>
             <include name = "testSelectDataType_HongGuan"/>
             <include name = "testDataBrowseFolder"/>
             <include name = "testSelectDataTypeAndAreaMeasureInDataQueryFolder"/>
             <include name = "testConditionQueryAndLocate"/>
             <include name = "testCustomQueryAndStatistics"/>
             <include name = "testEnlargeAndNarrowMap"/>
             <include name = "testSelectDataTypeAndMeasureInDataExport"/>
             <include name = "testInputRoadNameAndLocateInDataExport"/>
             <include name = "testAddUserFiledNotNull"/>
             <include name = "testAddUserFieldLength"/>
             <include name = "testAddUserPass"/>
             <include name = "testInputKeywordAndSearchUser"/>
             <include name = "testSelectFromDropListAndSearchUser"/>
             <include name = "testEditUser"/>
             <include name = "testUserNameNotAllowedDuplicate"/>
             <include name = "testDeleteUser"/>
             <include name = "testAddRolePass"/>
             <include name = "testRoleNameFieldVerify"/>
             <include name = "testInputKeywordAndSearchRole"/>
             <include name = "testSelectFromDropListAndSearchRole"/>
             <include name = "testEditRole"/>
             <include name = "testFenYeInUserRole"/>
             <include name = "testDeleteRole"/>
             <include name = "testAddDept"/>
             <include name = "testVerifyDeptNameField"/>
             <include name = "testInputKeywordAndSearchDept"/>
             <include name = "testSelectFromDropListAndSearchDept"/>
             <include name = "testEditDept"/>
             <include name = "testDeleteDept"/>
             <include name = "testDataUpdateUploadFile"/>
             <include name = "testDataRecover"/>
         </methods>
     </class>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->